   
<app-nav></app-nav>
<div class="container ">
    <div class="row">
        <div class="card">
            <div class="mb-3">
            </div>
            <form >  
                <p class="text-center fs-3 fw-bold"> Log In </p>                
                    <div class="mb-3 fs-6 fw-bold">
                        <label style="margin-left:35px;"for="username">Enter your Email</label>
                        <input [(ngModel)]="input.email" style="width:400px;height:45px;margin-left:35px;" type="email" class="form-control" name="username" id="username" placeholder="">
                    </div>

                    <div class="mb-3 fs-6 fw-bold">
                        <label style="margin-left:35px;" for="Password">Password</label>
                        <input [(ngModel)]="input.password" style="width:400px;height:45px;margin-left:35px;" type="password" class="form-control" name="password" id="Password" placeholder="">
                    </div>

                    <div  class="mb-3 text-center ">
                     <button style="background-color:#004763; color:white" type="button" (click)= "onLogin()"  class="btn btn-lg">Login</button>
                    </div>

                    <hr>


                <p class="text-center">Not yet a member? <a routerLink="/register">Join Now</a></p>

            

                
            </form>
        </div>
    </div>
</div>
