
<div class="body">   
        <div class="row">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <div class="col align-self-start">
                        <div class="form container-fluid">
                            <form class="row g-3 " >
                                <div class="col-md-6">
                                <label for="inputName" class="form-label" >First name</label>
                                <input type="text" class="form-control" id="inputEmail4" style="border: none;">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputname" class="form-label">Last name</label>
                                    <input type="address" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCompany" class="form-label">Company name</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Work email</label>
                                <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputStaffnumber" class="form-label">Number of staff</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-6">
                                <label for="inputCountry" class="form-label">Country</label>
                                <input type="text" class="form-control" id="inputCountry" placeholder="" style="border: none;">
                                </div>                     
                                <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Choose password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                                </div>
                                 <div class="col-md-6">
                                <label for="inputPassword4" href="#" class="form-label">Repeat password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                                   
                                </div>
                                 <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <input type="checkbox" id="terms" name="terms" value="termsofuse">
                                    <label for="terms" style="color:#004763 "> I agree to the Terms of use and Privacy</label>
                                    </div>
                                <div>
                                <form class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <a routerLink="/activation"><button style="background-color:#004763 ;color:white" class="btn btn-primary" type="button" >Register</button></a>
                                 </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 ">
                <div  class="container">
                <div class="card-body">
                <h5 class="card-title text-center fs-4 fw-bold mb-5rem">Join Over 30,000 Active users<br>200 companies that trust us across Africa</h5><br><br>
                <div class="card-text ">
                <ul>
                    <li class="fs-5 " style="color:#004763 ">Focus on saving time and improving your payroll accuracy and compliance</li><br>
                        <li class="fs-5" style="color:#004763 ">We Provide you with flexibilty to extend the workflow of your company or business with realtime expenses management</li><br>
                        <li class="fs-5" style="color:#004763 ">Get access to your HR data across multiple devices anytime and anywhere with fuzupay</li>
                    </ul>
             </div>
         </div>
 </div>