.button-active {
    background-color: #004763;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 7px;
    border-radius: 2px;
    cursor: pointer;
  }

  .button {
    background-color: #F1F1F0;
    color: #004763;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 7px;
    cursor: pointer;
    width: 186px;
    height: 37px;
  }
  
  .button1 {
    padding: 5px 37px;
    width: 184px;
  }
  
  .top-section{
    margin-top: 50px;
    position: relative;
    left: 253px;
  }
  #example1 {
  margin: 2em;
  position: relative;
  left: 229px;
  padding: 10px;
  box-shadow: 0px 1px 2px 2px #cccccc;
  width: 1473px;
}

.title-rows{
  color: #004763;

}

#example2 {
  margin: 2em;
  position: relative;
  bottom: 28px;
  left: 229px;
  padding: 7px;
  box-shadow: 0px 0px 0px 2px #cccccc;
  width: 10%;
}


.head-type {
  height: 40px;
  left: 50px;
  text-align: left;
}

#example3 {
  margin: 2em;
  position: relative;
  bottom: 415px;
  left: 420px;
  padding: 10px;
  width: 13%;
  padding: 7px;
}




#example4 {
  margin: 2em;
  position: relative;
  bottom: 894px;
  left: 609px;
  padding: 10px;
  width: 16%;
}

#example5 {
  margin: 2em;
  position: relative;
  bottom: 1375px;
  left: 876px;
  padding: 10px;
  width: 112%;
}

#example6 {
  margin: 2em;
  position: relative;
  bottom: 1857px;
  left: 1141px;
  padding: 10px;
  width: 112%;
}

#example7 {
  margin: 2em;
  position: relative;
  bottom: 2339px;
  left: 1503px;
  padding: 10px;
  width: 112%;
}