
<div class="col-md-6">
    <label for="inputPassword4" class="form-label">Card Number</label>
    <input type="password" class="form-control" id="inputPassword4" style="border: none;background-color: #F1F1F0;">
  </div>
  <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Card Holder</label>
      <input type="email" class="form-control" id="inputEmail4" style="border: none; background-color: #F1F1F0;">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label" >Expiraton </label>
      
      <input type="text" class="form-control" id="inputZip" style="border: none; background-color: #F1F1F0;">
    </div>
    <div class="col-md-4">
        <label for="inputDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="inputZip" style="border: none; background-color: #F1F1F0;">
      </div>
      <div class="col-md-4">
        <label for="inputDate" class="form-label">CVC</label>
        <input type="text" class="form-control" id="inputZip" style="border: none; background-color: #F1F1F0;">
</div>