<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<section class="d-flex flex-column justify-content-between">
  <div class="row d-flex">
    <div class="col companyInfo d-flex flex-column justify-content-between">
      <img
        src="../../../assets/img/Oval.png"
        alt="logo"
        style="width: 200px; height: 200px; border-radius: 50%"
        class="align-self-center"
      />
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#logoModal"
      >
        Upload Logo
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="logoModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col companyInfo d-flex flex-column justify-content-between">
      <div class="top">
        <p class="heading">Company Name</p>
        <p class="sub">Techsplug Media</p>
      </div>
      <div class="mid">
        <p class="heading">Number of Branches</p>
        <p class="sub">02</p>
      </div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#informationModal"
      >
        Edit Information
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="informationModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col companyInfo d-flex flex-column justify-content-between">
      <div class="top">
        <p class="heading">Headquaters</p>
        <p class="sub">Nairobi</p>
      </div>
      <div class="mid">
        <p class="heading">Contact E-mail</p>
        <p class="sub">info@techsplug.com</p>
      </div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#subscriptionModal"
      >
        Manage Subscription
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="subscriptionModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col companyInfo d-flex flex-column">
      <div class="top mb-4">
        <p class="heading">Company Type</p>
        <p class="sub">Telecommunications</p>
      </div>
      <div class="mid pt-3">
        <p class="heading">Conact Phone</p>
        <p class="sub">020 068983</p>
      </div>
    </div>
    <div class="col companyInfo d-flex flex-column">
      <div class="top">
        <p class="heading">Company Size</p>
        <p class="sub">0 - 49 Employees</p>
      </div>
    </div>
  </div>
  <div class="insights heading sub">
    <p>Quick Company Insights</p>
  </div>
  <div class="row header-row heading sub">
    <div class="col">
      <p>Human Resource</p>
    </div>
    <div class="col">
      <p>Accounts & Finance</p>
    </div>
    <div class="col">
      <p>Administrative Accounts</p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row d-flex">
    <div class="col companyInfo d-flex flex-column justify-content-around">
      <div class="heading">
        <p>Total Company Staff</p>
      </div>
      <div class="details text-center">
        <div class="number">
          <p>69</p>
        </div>
        <div class="data-visual d-flex justify-content-center">
          <div class="change p-2">
            <p>
              <i style="color: green" class="bi bi-arrow-up-right"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-up-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"
                  /></svg></i
              >63%
            </p>
            <p>Change</p>
          </div>
          <div class="previous p-2">
            <p>23</p>
            <p>Previous</p>
          </div>
        </div>
        <button type="button" class="btn" routerLink="/report">View Report</button>
      </div>
    </div>
    <div class="col companyInfo d-flex flex-column justify-content-around">
      <div class="heading">
        <p>Total Payroll Amount</p>
      </div>
      <div class="details text-center">
        <div class="number">
          <p>4.6M</p>
        </div>
        <div class="data-visual d-flex justify-content-center">
          <div class="change p-2">
            <p>44%</p>
            <p>Change</p>
          </div>
          <div class="previous p-2">
            <p>3.1M</p>
            <p>Previous</p>
          </div>
        </div>
        <button type="button" class="btn" routerLink="/report">View Report</button>
      </div>
    </div>
    <div class="col-6 companyInfo d-flex flex-column">
      <div class="d-flex justify-content-between">
        <div class="name">
          <div class="heading mb-2">
            <p>Full Name</p>
          </div>
          <div class="data-visual details w-100">
            <div class="acc-details">
              <p>Michael Njeru</p>
              <p>Martin Mwenda</p>
              <p>Mathew James</p>
              <p>Derrick Njue</p>
            </div>
          </div>
        </div>
        <div class="name">
          <div class="heading mb-2">
            <p>Role</p>
          </div>
          <div class="data-visual details w-100">
            <div class="acc-details">
              <p>HR Manager</p>
              <p>Assistant HR</p>
              <p>Accounts Assistant</p>
              <p>Accountant</p>
            </div>
          </div>
        </div>
        <div class="name">
          <div class="heading mb-2">
            <p>Email</p>
          </div>
          <div class="data-visual details w-100">
            <div class="acc-details">
              <p>michael.njeru@company.com</p>
              <p>martin.mwenda@company.com</p>
              <p>mathew.james@company.com</p>
              <p>derrick.njue@company.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


