.container{
    background-color:#FDF3EE;
    max-width: inherit;
    padding-top: 50px;
    padding-bottom: 100px;
}

.card{
    color:#004763;
    justify-content:center;
    margin: 0 auto;
    float: none;
    height: 420px;
    width:450px;
    background-color:#FDF3EE;

}