<div class="container ">
    <div class="row">
        <div class="card">
            <div class="mb-3">
            </div>
            <form >  
                <p class="text-center fs-3 fw-bold"> Reset Password </p>
            
                <div class="mb-3 fw-bold ">
                    <label for="username" style="margin-left:50px;">Enter OTP code</label>
                    <input  style="height:50px;width:350px; margin-left: 50px;" type="email" class="form-control" name="username" id="username" placeholder=""><br>
                    <label for="username" style="margin-left:50px;">Change Password</label>
                    <input  style="height:50px;width:350px; margin-left: 50px;" type="email" class="form-control" name="username" id="username" placeholder=""><br>
                    <label for="username" style="margin-left:50px;">Repeat Password</label>
                    <input  style="height:50px;width:350px; margin-left: 50px;" type="email" class="form-control" name="username" id="username" placeholder="">
                </div>

                    <div  class="mb-3 text-center ">
                        <button style="background-color:#004763; color:white" type="submit" href="#"  class="btn btn-lg">Confirm</button>
                    </div>                
            </form>
        </div>
    </div>
</div>