<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="container ">
    <div class="row">
        <div class="card">
            <div class="mb-3">
            </div>
                <form >  
                    <p class="text-center fs-4 fw-bold">Account Options</p>
                    <p class="text-start fs-7 fw-bold"> Current plan:  <span>Start up</span></p>
                    <p class="text-start fs-7 fw-bold"> Language: <span>English</span></p>             
                    <p class="text-start fs-7 fw-bold"> Privacy policy</p>             
                    <p class="text-start fs-7 fw-bold"> Terms & Conditions</p>             
                    <p class="text-start fs-7 fw-bold"> App info :<span> v 1.0.2</span></p>  
                    <a class="text-start fs-7 fw-bold" routerLink="/otp" > Change password: <span> > </span></a><br><br>          


                    <div  class="mb-3 text-center ">
                    <a routerLink="/login"> <button style="background-color:#004763; color:white" type="button" href="#"  class="btn btn-md fw-bold">Logout</button></a>
                    </div>           

                </form>
        </div>
    </div>