
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id=txt>
          <h5 class="card-title" style="text-align: center;">Startup</h5>
          <h2> <strong> $4.99</strong></h2>
          <p> Per Active User/Month</p>
           <br><br><br>
           
            <div class="list">
           <i class="fa fa-check-circle" aria-hidden="true"></i> From 0-50 Employess <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Payroll Processing <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Human Resource Management <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Expense Management <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Dedicated Support
        </div>  <br><br><br> <br><br><br><br><br> <br>

         

          <a href="#" class="btn " style="background-color: #004763;"> <span style="right: 30px; position: relative;" routerLink="/payment-details"> Select Plan</span></a>

        </div>
      </div>
    </div> 
    
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id=txt>
          <h5 class="card-title" style="text-align: center;">Startup</h5>
          <h2> <strong> $6.99</strong></h2>
          <p> Per Active User/Month</p>
           <br><br><br>
           
            <div class="list">
           <i class="fa fa-check-circle" aria-hidden="true"></i> From 0-50 Employess <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Payroll Processing <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Human Resource Management <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Expense Management <br>
           <i class="fa fa-check-circle" aria-hidden="true"></i> Dedicated Support
        </div>  <br><br><br> <br><br><br><br><br> <br>

         

          <a href="#" class="btn " style="background-color: #004763;"> <span style="right: 30px; position: relative;" routerLink="/payment-details"> Select Plan</span></a>

        </div>
      </div>
    </div> 
        <!-- <div class="card-body">
          <h5 class="card-title">Scaling</h5>
          <h2> <strong>$6.99</strong> </h2>
          <P> Per Active User/Month</P> <br><br>
          <ul class="list">  
            <i class="fa fa-check-circle" aria-hidden="true"></i> From 0-50 Employess <br>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Payroll Processing <br>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Human Resource Management <br>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Expense Management <br>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Dedicated Support
            <i class="fa fa-check-circle" aria-hidden="true"></i> DEdicated Support
          <br><br><br> <br><br><br><br><br>
          
          <a href="#" class="btn " style="background-color: #004763; text-align: center;"><span style="position: relative; right: 30px;" routerLink="/payment-details">Select Plan</span></a>

  
     
          


          <a href="#" class="btn " style="background-color: #004763; text-align: center;"><span style="position: relative; right: 30px;">Select Plan</span></a> -->

    <div class="col-sm-3">
        <div class="card" id="card">
          <div class="card-body">
            <h5 class="card-title">Super</h5>
            <p class="card-text"> <strong> Need more users or feature?</strong></p>
            <p>Contact us for a question and <br> pricing <br> +254 725 294 675</p><br>
            <ul class="list">  
                <i class="fa fa-check-circle" aria-hidden="true"></i> From 0-50 Employess <br>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Payroll Processing <br>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Human Resource Management <br>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Expense Management <br>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Dedicated Support <br>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Expense Management <br>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Dedicated Support
             </ul><br><br><br> <br><br><br>

            <a href="#" class="btn " style="background-color: #004763;" ><span style="position: relative; right: 30px;">Schedule a call</span></a>

          </div>
        </div>
      </div>
  

