<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="top-section">
    <button class="button-active button1">Edit</button>
    <button class="button button1">Assign Role<i class="fa fa-angle-down"
            style="font-size: 25px; position: relative; left: 74px; bottom: 23px;"></i></button>
    <button class="button button2">Actions <i class="fa fa-angle-down"
            style="font-size: 25px; position: relative; left: 42px; bottom: -2px;"></i> </button>
</div>

<div class="card-section">
    <div class="card mb-3" style="max-width: 550px; height: 197px;">
        <div class="row g-0">
            <div class="col-md-4" style="font-size: 2rem; color: #004763; text-align: center; margin-top: 5px;">
                <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold;">Sheila Martins</h5>
                    <p style="margin-top: -2px;" class="card-text">Information Technology Assistant</p>
                    <p class="card-text" style="margin-top: -6px;"> <i class="fa fa-map-marker" aria-hidden="true"
                            style="font-size: 1.7rem;"> </i> <small style="color: #000000; font-size: 1rem;"> Nairobi,
                            Kenya</small></p>
                    <p class="card-text" style="margin-top: -6px;"> Working Period: <span style="font-weight: bold;">9
                            Months</span> </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="example1">
    <table>
        <tr class="title-rows">
            <th style="text-indent: 11px;">Employee Information</th>
        </tr>
    </table>
</div>

<div id="example2">
    <table>
        <tr>
            <td style="font-weight: bold; color: #000000;">Company</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Work Email</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Personal Email</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Mobile Number</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Insurance Number</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Tax Pin Number</td>
        </tr>


    </table>


</div>

<div id="example3">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td>Company Limited</td>
        </tr>

        <tr>
            <td>sheila.martins@company.com</td>
        </tr>

        <tr>
            <td>sheilanjoki@gmail.com</td>
        </tr>

        <tr>
            <td>254 7xx xxx xxx</td>
        </tr>

        <tr>
            <td>679292</td>
        </tr>

        <tr>
            <td>A547GSUIE67L</td>
        </tr>

    </table>
</div>


<div id="example4">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Employee ID</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Employment Date</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Department</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Gross Pay</td>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;">Net Pay</td>
        </tr>

    </table>
</div>

<div id="example5">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td>CL/048/2021</td>
        </tr>

        <tr>
            <td>01/7/2021</td>
        </tr>

        <tr>
            <td>Information Technology</td>
        </tr>

        <tr>
            <td>KES 30,000</td>
        </tr>

        <tr>
            <td>KES 26,300</td>
        </tr>

    </table>
</div>

<div class="bottom-section">
    <button class="button-active button1">Save Changes</button>
    <button class="button button1">Go Back</button>
</div>