
<div class="container">
  <div class="card">

    <div class="notifications">

      <div class="notifications__item">
      <div class="notifications__item__avatar">
      </div>

        <div class="notifications__item__content">
        <span class="notifications__item__title">
        <p class="text-center "> Account Activation</p> </span>
        <span class="notifications__item__message">
        
        <p class="text-center fs-5" >We have sent you a link in your registered Email to activate your Fuzupay Account.<br>
        Kindly check your email and activate your account in order to login</span>
        <p class="text-center" style="color:#004763">Incase of troubles contact support@fuzupay.com or call us on +254 725 294 675
      </div>
    </div>
  </div>
