
<div class="row">
    <div class="col-sm-3">
      <div class="card" id="col-3">
        <div class="card-body" id=txt>
          <h5 class="card-title" style="text-align: center;">Billing Information</h5> <br>
          <h6>  Techsplug Media Limited</h6> <br> 
          <p style="color: black;">VAT no: p39ejsh384 <br>
            5336-ooioo wayaki way <br>
            Nairobi,Kenya

          </p>
           
           </div>
      </div>
    </div> 
 <!-- end of billing info -->



 <!-- payment details -->
    <div class="col-sm-3">
      <div class="card" id="col-3">
        <div class="card-body">
          <h5 class="card-title">Payment Details</h5> <br>
          
          <h6> Debit Card</h6> 
        <div class="col">
        <div class="col-md-12">
          <P style="color: black;"> Mastercard: *******732698 <span style="position: relative; left: 50px;"> <img src="https://brand.mastercard.com/content/dam/mccom/brandcenter/thumbnails/mastercard_vrt_pos_92px_2x.png" alt="" style="height: 55px; width: 55px;"> </span> <br>
            Expiry Date: 06/2023
            </P> 
            
          
        </div>
      </div>
         
          
        </div>
      </div>
    </div>
   <!-- end of payment details -->

   
    <!-- order summary -->
    <div class="col-sm-3">
        <div class="card" id="col-3">
          <div class="card-body">
            <h5 class="card-title">Order Summary</h5> <br>

            <p class="card-text"> Startup Plan <br> 
                Active Staff      46 <br> <br> <br> 
                Total VAT inc. KES 23,642.43 <br>

            </p>
           
          </div>
        </div>
      </div> <br><br> <br>

      <span style="padding-top: 70px;">
      <div class="body">
        <a href="#" class="card-link btn" id="card" routerLink="/successfully">Complete Payment</a>
        <a href="#" class="card-link btn" id="card" routerLink="/payment-details">Go Back</a>
      </div>
    </span>
  </div>
  

 
