<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="top-section">
    <button routerLink="/staff" class="button button1">Overview</button>
    <button routerLink="/manage" class="button-active button1">Manage Staff</button>
    <button routerLink="/new" class="button button1">New Staff</button>
</div>

<div class="info-text">
    <p>Click on staff name to edit details and assign role</p>
</div>

<div id="example1">
    <table>
        <tr class="title-rows">
            <th>Filters</th>
            <th style="text-indent: 148px;">Full Name</th>
            <th style="text-indent: 116px;">Department</th>
            <th style="text-indent: 179px;">Position</th>
            <th style="text-indent: 201px;">Email</th>
            <th style="text-indent: 320px;">Employment Type</th>
        </tr>
    </table>
</div>

<div id="example2">
    <table>
        <tr class="title-rows">
            <th class="head-type">Type</th>
        </tr>

        <tr>

            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Fulltime</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Part-time</label><br>
            </td>

        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Internship</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Contract</label><br>
            </td>
        </tr>

        <tr class="title-rows">
            <th class="head-type">Department</th>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">I.T</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Sales &amp; Marketing</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Development</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Logistics</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Human Resource</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Engineering</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Finance</label><br>
            </td>
        </tr>

        <tr class="title-rows">
            <th class="head-type">Status</th>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Active</label><br>
            </td>
        </tr>

        <tr>
            <td style="padding: 1px;">
                <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Terminated</label><br>
            </td>
        </tr>

    </table>


</div>

<div id="example3">
    <table routerLink="/table">
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td style="font-weight: bold; color: #000000;width: 177px;
          padding: 7px;">James Wanyama</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Grace Wandiri</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Anderson Kasarani</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Abdallah Hassan</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Mercy Andrews</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Sheila Martins</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Sharon Musyoka</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Martin Mwenda</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Oscar Odhiambo</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Michael Njeru</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Matthew James</td>
        </tr>

        <tr>
            <td style="width: 177px;
          padding: 7px; font-weight: bold; color: #000000">Derrick Njue</td>
        </tr>
    </table>
</div>


<div id="example4">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td style="color: #000000; width: 196px;
          padding: 7px;">Information Technology</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Information Technology</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Logistics &amp; Operations</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Sales &amp; Marketing</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Sales &amp; Marketing</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Information Technology</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Sales &amp; Marketing</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Product Development</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Information Technology</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Human Resource</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Information Technology</td>
        </tr>

        <tr>
            <td style="width: 196px;
          padding: 7px;">Finance</td>
        </tr>

    </table>
</div>


<div id="example5">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Software Developer</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">ICT Manager</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Operations Manager</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Sales Manager</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Business Development</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">It Assistant</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Sales Associate</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Ux Designer</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Quality Analyst</td>
        </tr>

        <tr>
            <td style="width: 208px;
            padding: 7px;">Human Resource Manager</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">ICT Manager</td>
        </tr>

        <tr>
            <td style="width: 180px;
            padding: 7px;">Accountant</td>
        </tr>

    </table>
</div>

<div id="example6">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td style=" width: 177px;
            padding: 7px;">jameswanyama@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">grace.wandiri@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">anderson.karani@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">abdallah.hassan@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">mercy.andrews@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">sheila.martins@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">sharon.musyoka@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">martin.mwenda@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">oscar.odhiambo@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">michael.njeru@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">matthew.james@company.com</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">derrick.njue@company.com</td>
        </tr>

    </table>
</div>

<div id="example7">
    <table>
        <tr class="title-rows">
            <th></th>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Contract</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Internship</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Internship</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Part-time</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

        <tr>
            <td style="width: 177px;
            padding: 7px;">Fulltime</td>
        </tr>

    </table>
</div>