<section class="d-flex flex-column justify-content-between">
  <nav>
    <a class="nav-link active" routerLink="/dashboard" aria-current="page"><li>Dashboard</li></a>
    <a class="nav-link" routerLink="/staff"><li>Staff</li></a>
    <a class="nav-link" routerLink="/report"><li>Reports</li></a>
    <a class="nav-link" routerLink="/min-nav"><li>Subscription</li></a>
    <a class="nav-link" routerLink="/support"><li>Support</li></a>
  </nav>
  <footer>
    <p>&copy; Fuzupay</p>
  </footer>
</section>
