
  <div class="row">
    <div class="col-sm-3">
      <div class="card" id="col-3">
        <div class="card-body" id=txt>
          <h5 class="card-title" style="text-align: center;">Billing Information</h5> <br>
          <h6>  Techsplug Media Limited</h6> <br> 
          <p style="color: black;">VAT no: p39ejsh384 <br>
            5336-ooioo wayaki way <br>
            Nairobi,Kenya

          </p>
           
           </div>
      </div>
    </div> 
 <!-- end of billing info -->

 <!-- payment details -->
    <div class="col-sm-3">
      <div class="card" id="col-3">
        <div class="card-body">
          <h5 class="card-title">Payment Details</h5> <br>
          
          <h6>Mpesa</h6> 
        <div class="col">
        <div class="col-md-12">
          <P style="color: black;"> Mpesa No:07xxxxxxx  <span style="position: relative; left: 50px;"> <img src="https://4.bp.blogspot.com/-btgDdSiJ8r4/Vmw-5XvgGHI/AAAAAAAAYQw/AktEZmW3Lxw/w1200-h630-p-k-no-nu/M-pesa%2BLogo.png" alt="" style="height: 55px; width: 85px;"> </span> <br>
            John Mwangi
            </P> 
            
          
        </div>
      </div>
         
          
        </div>
      </div>
    </div>
   <!-- end of payment details -->

   
    <!-- order summary -->
    <div class="col-sm-3">
        <div class="card" id="col-3">
          <div class="card-body">
            <h5 class="card-title">Order Summary</h5> <br>

            <p class="card-text"> Startup Plan <br> 
                Active Staff      46 <br> <br> <br> 
                Total VAT inc. KES 23,642.43 <br>

            </p>
           
          </div>
        </div>
      </div> <br><br> <br>

      <span style="padding-top: 70px;">
      <div class="body">
        <a href="#" class="card-link btn" id="card">Complete Payment</a>
        <a  routerLink="/payment-details" class="card-link btn" id="card" >Go Back</a>
      </div>
    </span>
  </div>
  

 

 

