<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="top-section">
    <button routerLink="/staff" class="button button1">Overview</button>
    <button routerLink="/manage" class="button button1">Manage Staff</button>
    <button routerLink="/new" class="button-active button1">New Staff</button>
</div>

<div class="input-text">
    <input routerLink="/new" type="radio" id="html" name="fav_language" value="HTML">
        <label for="html">Input details</label><br>
</div>

<div class="upload-doc">
    <input routerLink="/upload" type="radio" id="html" name="fav_language" value="HTML">
        <label for="html">Upload document</label><br>   
</div>

<div class="inner">
    <form action="">
        <div class="form-group">
            <div class="form-wrapper">
                <label for="">Employee code</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Surname</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Other Name</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Phone Number</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Email</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-wrapper">
                <label for="">ID/Passport Number</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Nationality</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Date of Birth</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Position</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Department</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-wrapper">
                <label for="">Employment Type</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Employment Date</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Gross Salary</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Marital Status</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Emergency Contact</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-wrapper">
                <label for="">Emergency Contact Phone</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="title-rows">
                <p>Payment details</p>
            </div>
        </div>
        <div class="form-group">
            <div class="form-wrapper">
                <label for="">Bank Name</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Branch</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Account Number</label>
                <div class="form-holder">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-end">
            <div>
                <button class="button-holder">Save Details</button>
            </div>
            
        </div>
    </form>
</div>