
<div class="container ">
    <div class="row">
        <div class="card">
            <div class="mb-3">
            </div>
            <form >  
            <p class="text-center fs-3 fw-bold"> Reset Password </p><br>
            <p class="text-center fs-5 fw-normal"> Enter registered Email or Phone number to receive password reset code </p><br>              
            
                <div class="mb-3 fw-bold ">
                    <label for="username" style="margin-left:120px;">Enter Email or Phone number</label>
                    <input  style="height:50px;width:350px; margin-left: 50px;" type="email" class="form-control" name="username" id="username" placeholder=""><br>
                </div>

        

                <div  class="mb-3 text-center ">
                    <button routerLink="/change_password" style="background-color:#004763; color:white" type="submit" href="#"  class="btn btn-lg">Request OTP</button>
                </div>                
            </form>
        </div>
    </div>
</div>