.container{
    background-color:#ffffff;
    padding-top: 70px;
    padding-bottom:30px;
    margin-left:220px;
}

.card{
    color:#004763;
    justify-content:center;
    margin-right: 0 auto;
    float: none;
    height: 350px;
    width:350px;
    position: relative;
    top: 98px;

}
.card-2{
    padding-top: 10px;
    color:#004763;
    justify-content:center;
    margin: 0 auto;
    float: none;
    height: 500px;
    width:620px;
    background-color:#ffffff;
    margin-left:190px;
    

}


input[type="text"],
input[type="email"],
input[type="submit"],
#message {
    background-color:#F1F1F0;
    margin-bottom: 30px;
    height: 350px;
    width: 900px ;
    border: none;
}


