<div class="body">
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <span style="position: relative; right: 30px;">
        <h1> <i class="fa fa-check-circle" aria-hidden="true"></i> </h1>
      <h5 class="card-title" style="color: #004763;">Payment Successful</h5> <br>
      <h5 class="card-text">KES 23,642.62 has been paid for one month <a href="#"> Startup <br> Plan</a> subscription</h5> <br>
      <a href="#" class="btn " id="a"><span style="padding-left: 40px;">Dowload Reciept</span></a> <br> <br>
      <h6> If you have any questions , kindky email us at <a href="googlegmail://support@fuzupay.com">support@fuzupay.com</a>  <span style="margin-left: 50px;"><br> or call us at +254 725 294 675 </span></h6>
    </span>
    </div>
  </div> <br><br>

  <div>
      <span style="position: relative; left: 10px;">
      <a href="#" class="btn btn-primary" id="a"> <span style="padding-left: 40px;" routerLink="/payment-details">Go Back</span> </a>
    </span>
  </div>
</div>
